#tx-list {
  width: 25vw;
  display: inline-block;
  vertical-align: top;
}

#nodes {
  display: inline-block;
  vertical-align: top;
  position: absolute;
}

li {
  white-space:normal;
  word-break : break-all;
  word-wrap: break-word;
}
