@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cryptape {
  position: absolute;
  top: 0;
  right: -2px;
}

h1 {
  font-family: 'Play', sans-serif;
  font-size: 60px;
  color: #B8B8B8;
  margin: 0;
  text-align: right;
  line-height: 0.75em;
}

#search-box {
  position: absolute;
  top: 0;
  left: 0;
}

#legend {
  position: absolute;
  right: 0;
  bottom: 170px;
}

#decoration-top {
  position: absolute;
  right: 0;
  top: 55px;
}

#decoration-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

#bottom-line {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  #decoration-top {
    top: 35px;
  }
}

@media screen and (max-width: 769px) {
  #legend {
    bottom: 100px;
  }
  #decoration-top,
  #decoration-bottom,
  #bottom-line,
  #search-box {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  #cryptape {
    position: absolute;
    top: -30px;
    right: 0;
  }

  #legend,
  #decoration-top,
  #decoration-bottom,
  #bottom-line,
  #search-box {
    display: none;
  }

}

@media screen and (max-height: 400px) {
  #cryptape,
  #legend,
  #decoration-top,
  #decoration-bottom,
  #bottom-line,
  #search-box {
    display: none;
  }
}
