#tx-list {
  width: 25vw;
  display: inline-block;
  z-index:99;
  position: relative;
}

li {
  white-space:normal;
  word-break : break-all;
  word-wrap: break-word;
  color: #B8B8B8;
  font-size: 11px;
}
